.App {
  text-align: center;
}
.title{
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 30px;
  color: red;
}
.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-left: 285px;
  display: flex;
  margin-top: -243px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


